@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700;900&display=swap");
/* Reset de opciones por defecto */
* {
  margin: 0;
  padding: 0;
}

/*Fuentes*/
.typeOs {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.typeOs.semiBold {
  font-weight: 600;
}

.typeR {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.typeR.bold {
  font-weight: 700;
}

.typeR.black {
  font-weight: 900;
}

/*Paleta de colores*/
.colorWhite {
  color: #FFFFFF;
}

.colorYellow {
  color: #FACE7F;
}

.colorRed {
  color: #C00A0A;
}

.bgColorYellow {
  background-color: #FACE7F;
}

.bgColorRed {
  background-color: #C00A0A;
}

.bgColorBlue {
  background-color: #091835;
}

.colorBlack {
  color: #000000;
}

.bgColorBlack {
  background-color: #000000;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 200%;
  text-align: justify;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

/*--------------------------------------------------------------
Barra Menú
--------------------------------------------------------------*/
#cabecera {
  height: 100px;
}

#header {
  height: 100px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header .logo img {
  padding: 0;
  margin: 7px 0;
  max-height: 50px;
}

/*--------------------------------------------------------------
  Termina Barra Menú
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* Desktop Navigation */
.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #FFFFFF;
  padding: 20px 15px 0 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
}

.main-nav a:hover,
.main-nav li:hover > a {
  color: #FACE7F;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #49494b;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  color: #FFFFFF;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul li:hover > a {
  color: #FACE7F;
  background-color: #000000;
}

.main-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

/*Secciones*/
/*Seccion principal*/
.seccion-principal {
  overflow: hidden;
}

#contPrin {
  font-size: 25px;
  color: #FFFFFF;
  text-align: center;
}

.carousel-capt {
  position: absolute;
  right: 5%;
  bottom: 40%;
  left: 5%;
  top: 40%;
  z-index: 10;
}

.carousel-capt h1 {
  text-align: center;
}

.carousel-capt p {
  text-align: center;
}

/*Nosotros*/
#cont-nos {
  margin: 4em 0 5em 0;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.cont-izq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1em 4rem 0 2rem;
  padding: 0 3rem 0 3rem;
}

.cont-izq h2 {
  margin-bottom: 1em;
}

.cont-izq p {
  margin-bottom: 2em;
}

.boton {
  padding: 1rem 2rem;
  display: inline-block;
  text-align: center;
  border: none;
}

.boton:hover {
  background-color: #ffff00;
  color: #000000;
}

.cont-der {
  margin: 0 7rem 0 0;
}

.cont-der img {
  max-width: 500px;
  max-height: 270px;
}

/*Responsive*/
@media only screen and (min-width: 576px) {
  #cont-nos {
    margin: 4em 0 5em 0;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-der {
    margin: 2em 4rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media only screen and (min-width: 768px) {
  #cont-nos {
    margin: 4em 0 5em 0;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-der {
    margin: 2em 4rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media only screen and (min-width: 992px) {
  #cont-nos {
    margin: 4em 0 5em 0;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*Propiedades*/
.contProp {
  padding: 3em 0;
  font-size: 20px;
  background-image: url("../media/propie-fondo.jpg");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.contProp h2 {
  text-align: center;
  margin-bottom: 2em;
}

.propiedad img {
  width: 100%;
  height: 300px;
}

.iconos {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
}

.iconos li img {
  width: 40px;
  height: 30px;
}

.iconos-down {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
  padding: 0 3rem;
}

.iconos-down li img {
  width: 40px;
  height: 30px;
}

.secciones {
  list-style: none;
  text-align: center;
  margin: 2em 0;
}

.secciones li a {
  text-decoration: none;
  margin: 0 2rem;
}

.secciones li {
  display: inline;
  overflow: hidden;
}

.ocultar {
  display: none;
}

#casas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5em 0;
}

.propiedad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 400px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3% - 1rem);
          flex: 0 0 calc(33.3% - 1rem);
  border: 1px solid #ccc;
}

.contenido-prop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em 2rem;
  color: #FFFFFF;
}

.contenido-prop a {
  text-align: center;
  margin-bottom: 2em;
  text-decoration: none;
  color: #000000;
}

.contenido-prop p {
  margin-bottom: 2em;
}

.ver-todas {
  text-align: center;
}

.boton1 {
  padding: 1rem 2rem;
  display: inline-block;
  text-align: center;
  border: none;
}

.boton1:hover {
  color: #FFFFFF;
  background-color: #C00A0A;
}

/*Responsive*/
@media only screen and (min-width: 576px) {
  .secciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 2em 0;
  }
  #casas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5em 0;
  }
  .propiedad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 400px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    border: 1px solid #ccc;
    margin-bottom: 1em;
  }
  .iconos-down li img {
    width: 40px;
    height: 30px;
  }
  .iconos-down li img {
    width: 40px;
    height: 30px;
  }
  .secciones li a {
    text-decoration: none;
    margin: 1em 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .secciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 2em 0;
  }
  #casas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5em 0;
  }
  .propiedad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 400px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3% - 1rem);
            flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #ccc;
    margin-bottom: 1em;
  }
  .secciones li a {
    text-decoration: none;
    margin: 1em 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .secciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 2em 0;
  }
  #casas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5em 0;
  }
  .propiedad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 400px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3% - 1rem);
            flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #ccc;
    margin-bottom: 1em;
  }
  .secciones li a {
    text-decoration: none;
    margin: 1em 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .secciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 2em 0;
  }
  #casas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5em 0;
  }
  .secciones li a {
    text-decoration: none;
    margin: 1em 2rem;
  }
}

/*Servicios*/
#cont-serv {
  font-size: 20px;
  margin: 2em 8rem 0 8rem;
  overflow: hidden;
}

#cont-serv h2 {
  margin: 2em 0;
}

#cont-general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  overflow: hidden;
}

.contenido-serv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  height: 750px;
  padding: 0 2rem;
}

.contenido-serv h3 {
  margin: 1em 0;
}

.cont-gener p {
  margin: 2em 0;
}

.cont-gener1 p {
  margin: 2em 0;
}

.cont-gener1 a {
  margin-top: 2em;
}

.serv-img img {
  width: 100%;
  height: 300px;
}

/*Agentes*/
#agentes {
  overflow: hidden;
  background-image: url("../media/agent-fondo.jpg");
  background-position: center center;
  background-size: cover;
}

#contenido-cajas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 4rem;
  font-size: 20px;
}

#cont-agent h2 {
  padding-top: 5rem;
}

#caja img {
  width: 100%;
  height: 500px;
}

#caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 390px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3% - 1rem);
          flex: 0 0 calc(33.3% - 1rem);
  border: 1px solid #ccc;
}

.cont-caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 2em;
}

#agentes h2 {
  padding-bottom: 2em;
}

.card img {
  width: 100%;
  height: 500px;
}

/*Blog*/
#cont-blog {
  padding-top: 5em;
  padding-bottom: 6em;
  font-size: 20px;
  overflow: hidden;
}

#cont-blog h2 {
  padding-bottom: 2em;
}

.cont-porcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blog1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(40% - 1rem);
          flex: 0 0 calc(40% - 1rem);
  border: 1px solid #ccc;
  height: 1000px;
}

.blog1 img {
  width: 540px;
  height: 300px;
}

.cont-abajo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 2rem;
  color: #FFFFFF;
}

.cont-abajo p {
  padding: 1em 0;
}

.cont-abajo h3 {
  padding-bottom: 2em;
  border-bottom: 3px solid #FF0000;
  text-align: center;
}

span {
  color: #FF0000;
}

.centrar {
  text-align: center;
}

.final {
  margin-top: 4.5em;
}

/*Testimoniales*/
#cont-test {
  background-image: url("../media/testimoniales.jpg");
  background-size: cover;
  background-position: center center;
  padding-top: 4em;
  padding-bottom: 1em;
  font-size: 20px;
  overflow: hidden;
}

#cont-gen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cont-test h2 {
  margin-bottom: 50px;
}

.contenido-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 300px;
  height: 400px;
  border: 1px solid #B5B5B5;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.contenido-test img {
  width: 280px;
}

.contenido-test p {
  text-align: left;
}

.contenido-after {
  padding: 3em 1em 1em 1em;
}

.espacio {
  padding: 2em 0 0 0;
}

.slide {
  margin: 4em 0 5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.slide li {
  list-style: none;
  margin: 0 2rem;
}

.slide li i:hover {
  cursor: pointer;
}

/*Contacto*/
#cont-contact {
  background-image: url("../media/contacto.jpg");
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 650px;
  padding-top: 12rem;
  font-size: 25px;
  overflow: hidden;
}

#cont-contact h2 {
  padding-bottom: 1em;
}

#cont-contact a {
  margin-top: 50px;
}

.boton-contact {
  padding: 1rem 5rem;
  display: inline-block;
  text-align: center;
  border: none;
}

.boton-contact:hover {
  background-color: #ffff00;
  color: #000000;
}

/*Footer*/
#contFoot {
  font-size: 20px;
  overflow: hidden;
}

.arriba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cont-info {
  margin: 3em 0 0 3rem;
}

.cont-apps {
  margin: 3em 0 0 0;
  padding: auto;
}

.cont-apps h3 {
  text-align: center;
}

.cont-redes {
  margin: 3em 3rem 0 0;
}

.cont-redes {
  text-align: center;
}

.orden-pri {
  list-style-type: none;
  margin-top: 1em;
}

.orden-seg {
  list-style-type: none;
  margin-top: .2em;
}

.orden-seg li img {
  width: 150px;
  height: 80px;
}

.orden-ter {
  list-style-type: none;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.orden-ter li {
  padding: 0 1rem;
}

.orden-ter li img {
  max-width: 100px;
  max-height: 50px;
}

.cont-final {
  padding: 3rem 0;
  text-align: center;
}

.cont-final p {
  display: inline;
}

.cont-final img {
  max-width: 15px;
  max-height: 15px;
}

/*Propiedades*/
#casas {
  overflow: hidden;
}

#casa-propiet {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 2rem;
  margin: 2em 7rem;
}

.casa-cont h2 {
  margin-top: 2em;
}

.nav-prop li a {
  color: #000000;
}

.propiet {
  width: 33rem;
  height: 20rem;
  margin: 2em 0 2em 2rem;
}

.propiet img {
  width: 100%;
  height: 100%;
}

.contenido-propiet {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20rem;
  margin: 2em 4rem 0 2rem;
}

.iconos-propi {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.iconos-propi li img {
  width: 40px;
  height: 30px;
}

/*Nosotros*/
.nosotros {
  overflow: hidden;
}

.cont-nosotr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  margin: 4em 5rem;
}

.cont-nosotr h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.parte1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.list-nos {
  padding-left: 3rem;
  padding-bottom: 1em;
}

.parte1 h4 {
  margin: 1em 0;
}

.parte1 iframe {
  margin: 2em 0;
}

/*Casa1*/
#descrip {
  overflow: hidden;
}

.iconos-rest li {
  list-style: none;
}

.iconos-rest li img {
  width: 40px;
  height: 30px;
}

.galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  margin-bottom: 3em;
}

.galeria img {
  width: 300px;
  height: 200px;
  padding-top: 2em;
}

.cont-descrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 5rem;
  font-size: 20px;
}

.cont-descrip h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.cont-descrip h3 {
  padding: 2em 0;
}

.resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10rem 3em 10rem;
}

.iconos-rest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0;
}

.iconos-rest li {
  display: inline-block;
  padding: 0 1rem;
}

/*Servicios*/
.servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4em 8rem;
  font-size: 20px;
  overflow: hidden;
}

.servicios h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.servicio1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2em 0;
}

.servicio1 img {
  width: 100%;
  height: 600px;
  margin: 3em 0;
}

.serv-listado {
  padding-left: 2rem;
}

.serv-list {
  padding-left: 2rem;
}

/*Blog*/
.pagBlog {
  overflow: hidden;
}

.contBlogPag h2 {
  text-transform: uppercase;
  margin: 2em 0;
}

.blogPag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 4em 11rem;
}

.blogPag h3 {
  margin: 1em 0;
  padding-bottom: 1em;
  border-bottom: 3px solid #FF0000;
  width: 100%;
}

.blogPag h4 {
  font-size: 18px;
  margin-top: 2em;
}

.blogPag img {
  width: 100%;
  height: 700px;
  margin: 2em 0;
}

.blog-list {
  padding-left: 1.5rem;
}

.borde {
  margin: 1em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #FF0000;
}

.espaciob {
  margin-top: 2em;
}

.blogPag1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 4em 11rem;
}

.blogPag1 h3 {
  margin: 1em 0;
  padding-bottom: 1em;
  border-bottom: 3px solid #FF0000;
  width: 100%;
}

.blogPag1 img {
  width: 100%;
  height: 700px;
  margin: 2em 0;
}

.blogPag1 h4 {
  font-size: 18px;
  margin-top: 2em;
}

/** Contacto **/
.contacto {
  padding: 5em 0;
  overflow: hidden;
}

.cont-pagContacto {
  margin: 4em 6rem;
}

.cont-form {
  margin: 0 6rem;
}

.cont-pagContacto img {
  width: 100%;
  height: 600px;
  margin-bottom: 5em;
}

.cont-pagContacto h3 {
  text-align: center;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

label {
  padding-top: 1em;
}

input {
  background-color: #e1e1e1;
}

textarea {
  background-color: #e1e1e1;
  padding: .5em .5rem 10em .5rem;
  resize: none;
}

select {
  background-color: #e1e1e1;
}
/*# sourceMappingURL=estilos.css.map */