/*Propiedades*/

#casas{
	overflow: hidden;
}

#casa-propiet{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 2rem;
	margin: 2em 7rem; 
}

.casa-cont h2{
	margin-top: 2em;
}

.nav-prop li a{
	color: #000000;
}

.propiet{
	width: 33rem;
	height: 20rem;
	margin: 2em 0 2em 2rem;

}

.propiet img{
	width: 100%;
	height: 100%;
}

.contenido-propiet{
	width: 100%;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	justify-content: space-between;
	height: 20rem;
	margin: 2em 4rem 0 2rem;
}

.iconos-propi{
	list-style: none;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	justify-content: space-around;
}

.iconos-propi li img{
	width: 40px;
	height: 30px;;
}