@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700;900&display=swap');

/* Reset de opciones por defecto */
*{
	margin: 0;
	padding: 0;
}


/*Fuentes*/
.typeOs{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.typeOs.semiBold{
	font-weight: 600;
}

.typeR{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.typeR.bold{
	font-weight: 700;
}

.typeR.black{
	font-weight: 900;
}

/*Paleta de colores*/
.colorWhite{
	color: #FFFFFF;
}

.colorYellow{
	color: #FACE7F;
}

.colorRed{
	color: #C00A0A;
}

.bgColorYellow{
	background-color: #FACE7F;
}

.bgColorRed{
	background-color: #C00A0A;
}

.bgColorBlue{
	background-color: #091835;
}

.colorBlack{
	color: #000000;
}

.bgColorBlack{
	background-color: #000000;
}

h1{
	text-align: center;
	text-transform: uppercase;
}

h2{
	text-align: center;
}


p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 200%;
	text-align: justify;
}

a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}